body
{
    background-color: aqua;
}
label
{
    width: 800px;
    height: 30px;
    background-color: coral;
    font-size: 20px;
    margin: 15px;
    border-color: blue;
    border-style: solid;
}
#camera
{
    border-style: dashed;
    width: 500px;
    height: 500px;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    border-color: blue;
}